<p id="notice"><%= notice %></p>

<div class="container">
	<h1><%= @trip.name %></h1>
	<div class="row">
		<div class="col">
			<input class="form-control form-control-lg" value="<%= @trip.start_date %>" disabled />
		</div>

		<div class="col">
		</div>
	</div>








</div>
<p>
  <strong>Start date:</strong>

</p>

<p>
  <strong>End date:</strong>
  <%= @trip.end_date %>
</p>


<%= link_to 'Add Flight', "#" %><br>
<%= link_to 'To Do List', "#" %><br>
<%= link_to 'Expenses', "#" %><br>

<br>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>