<h1>Edit Flight</h1>

<div class="container">
<%= form_with scope: :flight, model: @flight, local: true do |form| %>

	<div class="form-row">
		<div class="col-6 col-lg-6">
			<label>Airline</label>
			<select class="form-control form-control-lg" name="flight[airline_code]">
				<option selected="<%= @airline_name %>" value="<%= @flight.airline_code %>"><%= @airline_name %></option>
				<%= @responses.each do |response| %>
					<option value=<%= response["id"] %>><%= response["name"] %></option>
				<% end %>
			</select>
		</div>

		<div class="col-6 col-lg-6">
			<label>Flight No.</label>
			<%= form.text_field :flight_no, class: "form-control form-control-lg" %>
		</div>

	</div>

	<br />

	<div class="form-row">
		<div class="col-12 col-lg-6">
			<label>From</label>
			<select class="form-control form-control-lg" name="flight[from]">
				<option selected="<%= @from %>" value="<%= @flight.from %>"><%= @from %></option>
				<%= @airports.each do |airport| %>
					<option value="<%= airport.iata %>"><%= airport.name %></option>
				<% end %>
			</select>
		</div>

		<div class="col-12 col-lg-6">
			<label>To</label>
			<select class="form-control form-control-lg" name="flight[to]">
				<option selected="<%= @to %>" value="<%= @flight.to %>"><%= @to %></option>
				<%= @airports.each do |airport| %>
					<option value="<%= airport.iata %>"><%= airport.name %></option>
				<% end %>
			</select>
		</div>
	</div>

	<br />

	<div class="form-row">
		<div class="col-7 col-lg-6">
			<label>Departure Date</label>
			<%= form.date_field :dept_date, min: @trip.start_date, max: @trip.end_date, class: "form-control form-control-lg" %>
		</div>

		<div class="col-5 col-lg-6">
			<label>Departure Time</label>
			<%= form.time_field :dept_time, class: "form-control form-control-lg" %>
		</div>
	</div>

	<br />

	<div class="form-row">
		<div class="col-7 col-lg-6">
			<label>Arrival Date</label>
			<%= form.date_field :arr_date, min: @trip.start_date, max: @trip.end_date, class: "form-control form-control-lg" %>
		</div>

		<div class="col-5 col-lg-6">
			<label>Arrival Time</label>
			<%= form.time_field :arr_time, class: "form-control form-control-lg" %>
		</div>
	</div>

	<br />

	<button type="submit" class="buttons">Confirm</button>
	<% end %>

	<br />
	<footer>
		<%= link_to image_tag("icons/back.png", class: "icons-trips"), flights_path %>
	</footer>

</div>