<h1>Edit Todo</h1>

<div class="container">
	<%= form_with scope: :todo, url: update_todo_path, local: true do |form| %>

	<div class="form-row">
		<div class="col-6	">
			<label>Trip</label>
			<input class="form-control form-control-lg" value="<%= @trip.name %>" disabled/>
		</div>
	</div>

	<br />

	<div class="form-row">
		<div class="col-12">
			<%= form.label :details%><br>
			<%= form.text_field :details, class: "form-control form-control-lg"%>
		</div>
	</div>

	<br />

	<button type="submit" class="buttons float-right">Confirm</button>
	<% end %>

	<footer>
		<%= link_to image_tag("icons/back.png", class: "icons-trips"), todos_path %>
	</footer>


</div>