
<h1> To Do</h1>
<div class = "container">
	<div class="iconHeader-container">
		<div></div>
		<div class="homeBye-container">
			<%= link_to image_tag("icons/house.png", class: "icons-trips"), root_path %>
			<%= link_to image_tag("icons/exit.png", class: "icons-trips", id: "exit"), destroy_user_session_url, method: :delete %>
		</div>
	</div>
<%= form_with scope: :todo, url: todos_path, local: true do |form| %>

  <input type="hidden" value="<%= @trip.id %>" name="todo[trip_id]"></input>


  <div class="form-row">
    <div class="col-12">
      <%= form.label :details %><br>
      <%= form.text_field :details, class: "form-control form-control-lg", required: true, placeholder: "What do you want to do?", autocomplete: "off" %>
    </div>
  </div>

  <br />

  <button type="submit" class="buttons float-right">Add</button>
  <br />
  <br />
  <% end %>
  <br />

  <% if @todos.empty? %>
  	<div></div>
  <% else %>
		<table class="table table-sm table-hover table-striped">
		  <thead class="thead-dark">
		    <tr>
		      <th scope="col"><%= sortable "details" %></th>
		      <th colspan="2"></th>
		      <th scope="col"><%= sortable "done" %></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @todos.each do |todo|%>
		    <tr>
		      <td class="text-break"><%= todo.details%></td>
		      <td><%= link_to image_tag("icons/pencil.png", class: "icons"), "/trips/#{@trip.id}/todos/#{todo.id}/edit" %></td>
		      <td><%= link_to image_tag("icons/delete.png", class: "icons"), "/trips/#{@trip.id}/todos/#{todo.id}", method: :delete, data: { confirm: 'Are you sure?' } %>

		      <% if todo.done %>
		      	<td><%= link_to image_tag("icons/todoCheck.png", class: "icons"), "/trips/#{@trip.id}/todos/#{todo.id}", method: :put, data: {confirm: 'Undone?'} %></td>
		      <% else %>
		      	<td><%= link_to image_tag("icons/notCheck.png", class: "icons"), "/trips/#{@trip.id}/todos/#{todo.id}", method: :put, data: {confirm: 'Done?'} %></td>
		      <% end %>


		    </tr>
		    <% end %>

		  </tbody>
		</table>
	<% end %>

	<footer>
		<%= link_to image_tag("icons/back.png", class: "icons-trips", title:"Back"), @trip %>
	</footer>
</div>