<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<div class="container">
<p id="notice"><%= notice %></p>
<h1><%= @trip.name %></h1>
<br>
<%= link_to image_tag("icons/addexpense.png", class: "icons", title:"Add Expense"), new_expense_path %>
<%=  link_to image_tag("icons/logout.png", class: "icons",title:"Log Out"), destroy_user_session_url, method: :delete %>
<%= link_to image_tag("icons/back.png", class: "icons-trips",title:"Back"), trips_path %>
<%= link_to image_tag("icons/expenselist.png", class: "icons-trips",title:"Expense List"), expenses_details_path %>
<br>
<br>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-xs">
			<h6>Paid: </h6>
			<h6>Unpaid: </h6>
			<h6>---------</h6>
			<h6>Total: </h6>
			<h6>---------</h6>
			<h6 style="color: blue;">Budget:
			<h6>---------</h6>
			<h6>Sav (Over): </h6>
		</div>
		<div class="col-xs">
			<h6><%= number_to_currency(@paid, precision:0) %></h6>
			<h6><%= number_to_currency(@unpaid, precision:0) %></h6>
			<h6>---------</h6>
			<h6><%= number_to_currency(@spend, precision:0) %></h6>
			<h6>---------</h6>
			<h6 style="color: blue;"><%= number_to_currency(@budget, precision:0) %>
			<h6>---------</h6>
				<% if ((@budget-@spend)<0) %>
						<h6 style="color: red;"><%= number_to_currency((@budget - @spend), precision:0) %>
						<% else %>
						<h6><%= number_to_currency((@budget - @spend), precision:0) %>
						<% end %>
		</div>
	</div>
</div>
<br>
<br>
	<div class="col-xs-3">
				<%= column_chart @columnChart,
				title: "",
				# colors:["#402E2A"],
				prefix: '$',
				thousands: ","
			%>
	</div>
<br>

	<div class="col-xs-3">
				<%= bar_chart stackChart,
				title: "",
				# colors:["black","blue","lightblue","lime"],
				# ["#402E2A","#684551","#CEA0AE","#D5B0AC"],
				prefix: '$',
				thousands: ",",
				legend: "bottom"
			%>
	</div>
<br>


		<footer>

		</footer>

</div>