<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<div class="container">
<p id="notice"><%= notice %></p>
<br>
<h1><%= @trip.name %></h1>
<br>
<br>
<%= link_to image_tag("icons/add.png", class: "icons"), new_expense_path %>
<br>
<%= link_to 'log out', destroy_user_session_url, method: :delete %>
<br>
<br>
	<div class="col-xs-6">
				<%= column_chart @columnChart,
				# height: "400px",
				# width: "400px",
				title: "",
				colors:["#402E2A"],
				prefix: '$',
				thousands: ",",
				label: ""
			%>
	</div>
<br>

<div class="col-xs-6">
				<%= column_chart chartData,
				title: "",
				colors:["black","blue","green","yellow","red"],
				prefix: '$',
				thousands: ",",
				legend: "bottom",
				label: ""
			%>
	</div>
<br>

<div class="container">
	<div class="row justify-content-center">
		<div class="col-xs">
			<h6>Paid: </h6>
			<h6>Unpaid: </h6>
			<h6>Total: </h6>
			<h6 style="color: blue;">Budget:
			<h6>Sav (Ovr): </h6>
		</div>
		<div class="col-xs">
			<h6><%= number_to_currency(@paid, precision:0) %></h6>
			<h6><%= number_to_currency(@unpaid, precision:0) %></h6>
			<h6><%= number_to_currency(@spend, precision:0) %></h6>
			<h6 style="color: blue;"><%= number_to_currency(@budget, precision:0) %>
			<h6 id="changeColour"><%= number_to_currency((@budget - @spend), precision:0) %>
		</div>
	</div>
</div>
		<footer>
			<%= link_to image_tag("icons/back.png", class: "icons-trips"), trips_path %>

			<%= link_to image_tag("icons/expensive.png", class: "icons-trips"), expenses_details_path %>
		</footer>

</div>