<div class="container">
<p id="notice"><%= notice %></p>
<br>
<br>
<h1><%= @trip.name %></h1>
<br>
<br>
<%= link_to image_tag("icons/add.png", class: "icons"), new_expense_path %>
<br>
<%= link_to 'log out', destroy_user_session_url, method: :delete %>
<br>
<br>
<h4> Paid</h4>
<table class="table table-sm table-hover">
  <thead class="thead-dark">
	<tr>
	  <th scope="col">Details</th>
	  <th scope="col">Amount</th>
	  <th scope="col">Category</th>
	  <th colspan="3"></th>
	</tr>
  </thead>

  <tbody>
	<% @expenses.each do |expense| %>
		<%if expense.spent == true %>
	  <tr>
		<td scope="row"><%= expense.details %></td>
		<td scope="row"><%= number_to_currency(expense.amount, precision:2) %></td>
		<td scope="row"><%= expense.category.name %></td>
		<td><%= link_to image_tag("icons/writing.png", class: "icons"), "/trips/#{@trip.id}/expenses/#{expense.id}/edit" %></td>
		<td><%= link_to image_tag("icons/delete.png", class: "icons"), expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	  </tr>
	  <%else %>
	  <p> </p>
	  <% end %>
	<% end %>
  </tbody>
</table>
<br>
<h4> Unpaid</h4>
<table class="table table-sm table-hover">
  <thead class="thead-dark">
	<tr>
	  <th scope="col">Details</th>
	  <th scope="col">Amount</th>
	  <th scope="col">Category</th>
	  <th colspan="3"></th>
	</tr>
  </thead>

  <tbody>
	<% @expenses.each do |expense| %>
		<%if expense.spent == false %>
	  <tr>
		<td scope="row"><%= expense.details %></td>
		<td scope="row"><%= number_to_currency(expense.amount, precision:2) %></td>
		<td scope="row"><%= expense.category.name %></td>
		<td><%= link_to image_tag("icons/writing.png", class: "icons"), "/trips/#{@trip.id}/expenses/#{expense.id}/edit" %></td>
		<td><%= link_to image_tag("icons/delete.png", class: "icons"), expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</div>
		</div>
	  </tr>
	  <%else %>
	  <p> </p>
	  <% end %>
	<% end %>
  </tbody>
</table>
		<footer>
			<%= link_to image_tag("icons/back.png", class: "icons-trips"), expenses_path %>
		</footer>