<h1>Add new Expense</h1>

<%= form_with scope: :expense, url: expenses_path, local: true do |form| %>

	<p>
		<%= form.label :trip, 'Trip' %><br>
 		<%= form.collection_select :trip_id, @trips, :id, :name, include_blank: true %>
  </p>

  <p>
    <%= form.label :details, 'Exp Details' %><br>
    	<%= form.text_field :details %>
  </p>

  <p>
    <%= form.label :amount, "Amount($)" %><br>
    	<%= form.number_field :amount %>
  </p>

<p>
	<%= form.label :category_id, 'Category' %><br>
    <%= form.collection_select :category_id, @categories, :id, :name, include_blank: true %>
  </p>


  <p>
    <%= form.label :spent, 'Paid' %>
    <%= form.check_box :spent %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<br/>
<%= link_to 'Back', root_path, class: 'btn btn-primary' %>