<!DOCTYPE html>
<html>
  <head>
    <title>Tripper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>

    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>

  <body>

<!-- 		<div class="pos-f-t">
		  <div class="collapse" id="navbarToggleExternalContent">
		    <div class="bg-dark p-4">
		      <h5 class="text-white h4">Collapsed content</h5>
		      <span class="text-muted">Toggleable via the navbar brand.</span>
		    </div>
		  </div>
		  <nav class="navbar navbar-dark bg-dark">
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		  </nav>
		</div> -->

    <%= yield %>
  </body>
</html>